{
    local_certs
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

https://localhost {
    handle /graph/query* {
        reverse_proxy query-backend:8088
    }

    reverse_proxy opencti:8080
}